<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Codigo de confirmação</title>
    </head>
    <body style="font-family:'Courier New', Courier, monospace">
        <article style="display: flex; flex-direction:column; justify-content:center; align-items: center;">
            <header style="display:flex; flex-direction:column; justify-content: center; align-items: center;">
                <img style="width: 300px; height: 90px;" src="../assets/Logo.png"/>
                <h1 style="font-weight: 800;">Verificação de código</h1>
            </header>
            <!-- seção de saudação --> 
            <section style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <h2 style="font-weight: 400;">Olá, usuario X</h2><br />
                <p>Siga o código abaixo para a realização da troca de <strong>senha</strong></p>
            </section>
            <!-- seção de instrução -->
            <section style="width: 50%; height:60%; background-color: rgb(244, 183, 64); display:flex; justify-content: center;">
                 <h2>CODIGO</h2>
            </section>
            <!-- seção de despedida -->
            <section style="display: flex; flex-direction:column;">
                <p>Caso você não tenha solicitado a mudança de senha, <strong style="color:rgb(231, 26, 26)">IGNORE</strong></p><br />
                <p style="margin:0; font-weight: 700;">Atenciosamente: Equipe de desenvolvimento Edumatch</p>
            </section>
        </article>
    </body>
</html>